@font-face {
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech Mono'),
         local('ShareTechMono-Regular'), 
         url(./../fonts/RQxK-3RA0Lnf3gnnnNrAsYdJ2JT0J65PSe7wdxAnx_I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body{
  text-align: center;
  background-color: #206CB4;
  font-family: 'Share Tech Mono', monospace;
  transition: background-color 2s ease-in-out;
  font-weight: normal;
}
body.alert {
	animation: alert 0.7s infinite alternate;
}
body.finish {
	background-color: #B90000;
}

#countdown{
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    display: inline-block;
    /*font-weight: 100;*/
    text-align: center;
    font-size: 30em;
    letter-spacing: -30px;
}

#countdown > div{
    display: inline-block;
}

#countdown div > span{
    border-radius: 3px;
    display: inline-block;
    text-shadow: 10px 20px 10px rgba(255,255,255,0.05);
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.wrapper-days,
.wrapper-hours {
	display: none!important;
}

.wrapper-minutes:after{
	content: ":";
}

.applauses {
	background-color: #F9FD55;
	color: #B90000;
	font-size: 160px;
	font-weight: bold;
	width: 900px;
	height: 300px;
	line-height: 300px;
	position: fixed;
	left: 50%;
	margin-left: -450px;
	margin-right: -450px;
	bottom: -400px;
	transform: rotate(-5deg) scale(0);
	top: 170px;
	margin-top: -150px;
	transition: all 1s ease-in-out;
}

body.finish .applauses {
	transform: rotate(-5deg) scale(1);
	color: #B90000;
}

@keyframes alert {
    0% {
        background-color: #DC4949;
    }
    100% { 
        background-color: #B90000;
    }
}
@keyframes blink {
    0% {
        opacity: 1
    }
    50% { 
        opacity: 0.5;
    }
}

@media only screen and (max-width: 640px) {
	body { font-size: 10px; }
}

@media only screen and (max-width: 320px) {
    #countdown {
        font-size: 14em;
        letter-spacing: -20px;
    }   
}
@media only screen and (min-width: 321px) and (max-width: 760px) {
    #countdown {
        font-size: 16em;
    }   
}
@media only screen and (min-width: 760px) and (max-width: 1024px) {
    #countdown {
        font-size: 20em;
    }   
}